body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.logo{
  border: 2px;
  border-radius: 50px;
  height: 50px;
  width: 50px;
}
/* .navbar-nav{
  
  margin: 20px;
} */
.nav-item{
  padding: 25px;
}
.fname{
  font-weight: 700;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-style: italic;
  padding-bottom: 10px;
 
}
.bname{
  font-size: 17px;
  width: 120px;
  height: 30px;
  margin-top: 50px;
  border-radius: 40px;
  background-color: gray;
  font-weight: 600;
}
.form{
  max-width: 500px;
  height: 500px;
  margin: 0 ;
  border: 5px  rgb(245, 245, 245);
  margin-left: 500px;
  margin-top: 4.5rem;
  padding-top: 50px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.ip{
  margin-bottom: 10px;
  width: 400px;
  height: 40px;
  border-radius: 25px;
  padding-left: 9rem;
  font-size: 17px;
  font-style: italic;
  
}
.about{
  
  margin-top: 6rem;
  margin-left: 25%;
  width: 50%;
  height: 50%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.about1 {
  border: 1px solid black;
  padding: 40px;
  font-style:italic;
  font-size: 19px;
}
.about2 {
  border: 1px solid black;
 padding: 40px;
}
.about3 {
  border: 1px solid black;
  padding: 40px;
 
}

.p{
  font-size: 19px;
  font-style: italic;
}
.btn{
  margin-top: 1rem;
  font-weight: 600;
  width: 160px;
  border-radius: 2px;
}
.params{
 
  justify-content: center;
}